body {
    background-color:lavenderblush;
}

#booksList {

    margin-top: 5rem;
    margin: 5px;

}

#booksList div {
    float: left;
    margin: 5px; padding: 15px;
    width: 30%;
    background-color: cornflowerblue;
}

